.example-container {
    width: 100%;
    height: calc(100vh - 66px);
    margin: 0;
    background: #eef5f9;
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
    align-items: inherit;
    padding-left: 0;
  }
  mat-nav-list{
      width: 280px;
      padding:0;
  }
  .logoBg{
    background: rgba(255, 255, 255, 0.1);
    width: 280px;
    text-align: center;
    color: #fff;
    line-height: 60px;
  }
  .mat-drawer.mat-drawer-side{
    border: 1px solid #dfe8f1;
    border-width: 0 1px 0 0;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  }
  .page-titles {
    padding-bottom: 20px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.page-titles {
  background: #ffffff;
  margin: 0px;
  padding: 15px 25px 3px;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.page-titles .breadcrumb .breadcrumb-item.active {
  color: #99abb4;
  padding-top: 15px;
}
.page-titles .breadcrumb li {
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-titles h3 {

  margin-bottom: 8px;
  margin-top: 8px;
  color: #1e88e5 !important;
  font-size: 24px;
  font-weight: 500;
}

.page-titles .breadcrumb {
  padding: 0px;
  background: transparent;
  font-size: 16px;
}
.page-titles .breadcrumb li {
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-titles .breadcrumb li a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  color: #6c757d;
  content: "/";
  padding: 0 .5rem;
  margin-top: -5px;
}



mat-icon{
    color: #333;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
    text-align: right;
   
  }
  .user{
    padding-right: 30px;
    line-height: 60px;
  }

  .user button, .menu{
color: #fff;
  }
  .example-form-field {
    width: 200px;
    margin-right:20px; 
  }
  .mat-divider mat-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
