<div class="flex-container" *ngIf='getData'>
  <div *ngFor="let instance of getData.instances; let i = index">
    <div class="card card-tile card-xs card-primary bg-gradient text-center">
      <div class="card-body p-4">
        <div class="tile-left">
          <div class="loader">{{i+1}}</div>
        </div>
        <div class="tile-right">
          <div class="tile-number">{{instance.instanceName}}</div>
          <div class="tile-description" (click)='sendinstanceData(instance, i); isPOD1 = true;'>
            <mat-icon>keyboard_arrow_right</mat-icon>&nbsp; View Details
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-container">
  <div style="width: calc(60% + 67px);" *ngIf='isPOD1'>
    <div class="content-box">
      <h3 class="content-box-header bg-default">
       {{num+1}} - Details 
      </h3>
      <div class="content-box-wrapper">
        <div class="flex-container1">
          <div style="flex-grow: 5">Default Log Level</div>
          <div style="flex-grow: 5">{{instanceData.defaultLogLevel}}</div>
        </div>
        <div class="flex-container1">
          <div style="flex-grow: 5">Name</div>
          <div style="flex-grow: 5">{{instanceData.instanceName}}</div>
        </div>
        <div class="flex-container1">
          <div style="flex-grow: 5">
            <div class="example-container">
              <mat-checkbox class="example-margin" [(ngModel)]="checked">Ip Address</mat-checkbox>
              <mat-form-field *ngIf="checked">
                <mat-select placeholder="Set Your Default Config" [(ngModel)]="select">
                  <mat-option *ngFor="let Configs of Config" [value]="Configs.value">
                    {{Configs.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <form class="example-container" [formGroup]="options" *ngIf="select && checked">
                <mat-form-field>
                  <input matInput placeholder="Set timer" formControlName="settimer">
                </mat-form-field>
                <div class="button-row">
                  <button mat-raised-button color="primary" [disabled]="!options.controls['settimer'].valid">Send</button>
                </div>
              </form>
            </div>
          </div>
          <div style="flex-grow: 5">
            {{instanceData.ipAddress}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>